
/* Add a black background color to the top navigation */
.topnav {
  background-color: #FE90AB;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FAC1CB;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FFD3DA;
  color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
